.main {
  width: 100%;
  height: 100%;
  background: #aaa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.icon {
  width: 20em;
  height: 20em;
  opacity: 0.1;
  transition: all 0.2s ease-in-out;

  &:hover {
    opacity: 0.5;
  }
}

.text {
  color: white;
}

.link {
  color: white;

  &:hover {
    text-decoration: none;
  }
}
